<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>结算页面</title>
    <link rel="stylesheet" href="/css/checkout.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <h2>结算</h2>
</header>

<div class="checkout-container">
    <div class="order-summary" th:data-user-id = "${userId}" id = "getUserId">
        <h3>订单详情</h3>
        <p>商品总数:<span th:text = "${itemSum}">0</span> 件</p>
        <p>总价: <span th:text = "${totalPrice}">0.00</span> 元</p>
    </div>

    <div class="payment-method">
        <h3>选择支付方式</h3>
        <div class="payment-option">
            <label>
                <input type="radio" name="payment-method" value="alipay" checked> 支付宝
            </label>
        </div>
        <div class="payment-option">
            <label>
                <input type="radio" name="payment-method" value="wechat"> 微信支付
            </label>
        </div>
    </div>

    <div class="payment-button">
        <button id="payButton" class="pay-btn">立即支付</button>
    </div>
</div>

<script>
    // 获取支付按钮元素
    $("#payButton").click(function() {
        const paymentMethod = document.querySelector('input[name="payment-method"]:checked').value;
        const userId = $("#getUserId").data("user-id")
        if (paymentMethod === 'wechat') {
            $.ajax({
                url: '/checkout/' + userId + "/wechat",
                method: 'POST',
                success: function(response) {
                    alert("微信支付成功");
                    window.location.href = '/';
                }
            });
        } else if (paymentMethod === 'alipay') {
            $.ajax({
                url: '/checkout/' + userId + "/alipay",
                method: 'POST',
                success: function(response) {
                    alert("支付宝支付成功");
                    window.location.href = '/';
                }
            });
        }
    });
</script>

</body>
</html>
