<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网上订餐系统</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <h2>网上订餐系统</h2>
    <div class="auth-buttons">
        <a th:if="${session.loggedInUser}" th:href="@{/cart/{userID}(userID=${session.loggedInUser.userID})}">购物车</a>
        <a th:if="${session.loggedInUser}" th:href="@{/login/logout}">退出</a>
        <a th:unless="${session.loggedInUser}" th:href="@{/login}">登录</a>

        <a th:href="@{/register}">注册</a>
    </div>
</header>

<div class="food-container">
    <div class="food-item" th:each="food : ${foodList}">
        <a th:href="@{'http://localhost:8080/food/' + ${food.foodID}}">
            <img th:src="@{'/images/food/' + ${food.image}}" alt="食品图片">
            <div class="food-name" th:text="${food.name}">食品名称</div>
            <div class="food-price" th:text="'价格: ¥' + ${food.price}">价格: ¥XX.XX</div>
            <div class="food-description" th:text="${food.description}">食品描述</div>
        </a>
    </div>
</div>
</body>

<footer>
    <p>&copy; 2024 网上订餐系统 | All Rights Reserved</p>
</footer>

</html>
