<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎访问网上订餐系统！</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/icons/favicon.ico"/>
    <link rel="bookmark" href= "/images/icons/favicon.ico"/>
</head>
<body>
<header>
    <!-- Logo -->
    <div class="logo-container">
        <img src="/images/icons/favicon.ico" alt="Logo" class="logo"/>
    </div>
    <h2>网上订餐系统</h2>
    <!-- 搜索框 -->
    <form th:action="@{/search}" method="get" class="search-form">
        <input type="text" name="foodName" placeholder="输入菜品名称搜索" th:value="${searchKey}" required>
        <button type="submit">搜索</button>
        <!-- 重置按钮 -->
        <a href="/" class="reset-button" style="text-decoration: none;">
            <button type="button">重置</button>
        </a>
    </form>

    <div class="auth-buttons">
        <a th:if="${session.loggedInUser}" th:href="@{/cart/{userID}(userID=${session.loggedInUser.userID})}">购物车</a>
        <a th:if="${session.loggedInUser}" th:href="@{/userProfile/{userID}(userID=${session.loggedInUser.userID})}">个人信息</a>
        <a th:if="${session.loggedInUser}" th:href="@{/home/{userID}(userID=${session.loggedInUser.userID})}">我的订单</a>
        <a th:if="${session.loggedInUser}" th:href="@{/login/logout}">退出</a>
        <a th:unless="${session.loggedInUser}" th:href="@{/login}">登录</a>
        <a th:unless="${session.loggedInUser}" th:href="@{/register}">注册</a>
    </div>
</header>
<main>
<div class="food-container">
    <div th:if = "${foodPage.list}" class="food-item" th:each="food : ${foodPage.list}">
        <a th:if = "${foodPage.list}" th:href="@{'http://localhost:8080/food/' + ${food.foodID}}">
            <img th:src="@{'/images/food/' + ${food.image}}" alt="食品图片">
            <div class="food-name" th:text="${food.name}">食品名称</div>
            <div class="food-price" th:text="'价格: ¥' + ${food.price}">价格: ¥XX.XX</div>
            <div class="food-description" th:text="${food.description}">食品描述</div>
        </a>
    </div>
</div>
</main>
<div class="pagination">
    <!-- 上一页按钮 -->
    <span th:if="${foodPage.pageNum > 1}">
        <a th:href="@{'/'+ ${foodPage.prePage}}" class="prev-page">上一页</a>
    </span>
    <span th:if="${foodPage.pageNum == 1}">
        <span class="prev-page disabled">上一页</span>
    </span>

    <!-- 页码按钮 -->
    <span th:each="i : ${#numbers.sequence(1, foodPage.pages)}">
        <a th:href="@{'/' + ${i}}" th:text="${i}" th:classappend="${foodPage.pageNum == i ? 'active' : ''}"></a>
    </span>

    <!-- 下一页按钮 -->
    <span th:if="${foodPage.pageNum < foodPage.pages}">
        <a th:href="@{'/'+ ${foodPage.nextPage}}" class="next-page">下一页</a>
    </span>
    <span th:if="${foodPage.pageNum == foodPage.pages}">
        <span class="next-page disabled">下一页</span>
    </span>
</div>

<div><br></div>
</body>

<footer>
    <p>&copy; 2024 网上订餐系统 | All Rights Reserved</p>
</footer>

</html>
