<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册 - 网上订餐系统</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<img src="/images/loginpic.png" class = "pic">
<!-- 顶部导航栏 -->
<header>
    <div class="logo-container">
        <img src="/images/icons/favicon.ico" alt="Logo" class="logo">
        <h2>网上订餐系统</h2>
    </div>
    <div class="btn-home">
        <a href="/">返回主页</a>
    </div>
</header>

<div class="register-container">
    <h2>用户注册</h2>
    <form th:action="@{/register}" method="post">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">确认密码</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn-register">注册</button>
    </form>
    <div class="login-link">
        已有账户？ <a th:href="@{/login}">立即登录</a>
    </div>
</div>

<!-- 底部 -->
<footer>
    <p>&copy; 2024 网上订餐系统 - All Rights Reserved.</p>
</footer>
</body>
</html>
